<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="postTitle" autocomplete="off">
        <label  class="form-label">Post</label>
        <textarea name="postBody" class="form-control"  rows="3" autocomplete="off"></textarea>
    </div>
          <button class="btn btn-primary " type="submit" name="button">Submit</button>
</form>
<%- include('partials/footer'); -%>